{% extends 'base.html' %}

{% block title %}Troc Graines - E-mail de réinitialisation du mot de passe envoyée{% endblock %}
{% block main %}

<!--Password reset sent-->
<h2">E-mail de réinitialisation du mot de passe envoyée</h2>
<hr>
<p>Nous vous avons envoyé par e-mail des instructions pour définir votre mot de passe, si un compte existe avec l'e-mail que vous avez entré.<br>Vous devriez les recevoir sous peu. <br> Si vous ne recevez pas d'e-mail, assurez-vous d'avoir saisi l'adresse avec laquelle vous vous êtes inscrit et vérifiez votre dossier de spam.</p>

{% endblock %}
