{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Troc Graines - Reinitialiser le mot de passe{% endblock %}
{% block main %}

<!--Reset Password-->
<h2">Reinitialiser le mot de passe</h2>
<hr>
<p>Mot de passe oublié? Entrez votre adresse e-mail ci-dessous et nous vous enverrons par e-mail les instructions pour en configurer un nouveau. </p>
  <form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
  <button class="btn btn-primary" type="submit">Envoyer l'e-mail </button>
</form>
{% endblock %}
