{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Troc Graines - Entrer le nouveau mot de passe{% endblock %}
{% block main %}

<!--Password Reset Confirm-->
<div class="container-fluid w-75 my-3" id="password_reset_confirm_container">
  <h2>Confirmer la réinitialisation du mot de passe</h2><hr>
  <p>Veuillez saisir votre nouveau mot de passe.</p>
  <form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-primary" type="submit">Réinitialiser le mot de passe</button>
  </form>
</div>
{% endblock %}
