{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Troc Graines - Modifier mes informations personnelles{% endblock %}

{% block main %}
<div class="container-fluid w-75 my-3" id="personal_informations_update_container">
  <h2>Modifier mes informations personnelles</h2><hr>
  <form action="{% url 'authentication:personal_informations_update' %}" method="post">
    {% csrf_token %}
    {{ user_update_form|crispy }}
    <button type="submit" class="btn btn-primary" id="personal_info_update_done_btn">
      Enregistrer les modifications
    </button>
  </form>
</div>
{% endblock %}
