{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Troc Graines{% endblock %}
{% block main %}

<div class="container-fluid" id="homepage_container">

  <!-- presentation zone  -->
  <div class="container-fluid" id="homepage_presentation_zone">
    <div class="row">
      <div class="col-12 text-center">
          <h3>Vous récoltez vos propres graines</h3>
          <h4> Ajoutez les sur Troc Graines pour les partager</h4>
      </div>
    </div>
  </div>

  <!-- seed search form  -->

  <div class="container-fluid mt-2" id="seed_search_form">
    <div class="col-lg-8 col-sm-12 mx-auto">
      <form action="{% url 'trocgraines:homepage' %}" method="post" class="form-group form-inline my-sm-2 my-lg-0 d-flex justify-content-around">
        {% csrf_token %}
          {{ search_form.search }}
          <button type="submit" class="btn btn-primary my-2 my-sm-0 col-lg-2 col-sm-12 " id="search_form_btn">Chercher</button>
      </form>
    </div>
  </div>

  <hr>

  <!-- seed search results  -->

  <div class="container-fluid mt-2" id="seed_search_results">
    {% if searched_seed %}
    <h3>Votre recherche de {{searched_seed}}</h3>
    {% else %}
    <h3>Nouveautés</h3>
    {% endif %}

    {% if page_obj %}
      {% for seed in page_obj %}

      <!-- seed cards  -->

      <div class="card mb-3" id="homepage_seed_card_{{seed.id}}">
        <!-- seed card/upper part  -->
        <div class="row no-gutters">
          <!-- seed card/upper part/card photo  -->
          <div class="col-md-2">
            <img src="{{ seed.photo.url }}" class="card-img" alt="{{seed.name}}">
          </div>
          <!-- seed card/upper part/card body -->
          <div class="col-md-10">
            <div class="card-body">
              <h4 class="card-title text-white bg-primary px-2 rounded text-left">{{ seed.name }}</h4>
              <p class="card-text text-left">{{ seed.description }}</p>
            </div>
          </div>
        </div>
        <!-- seed card/footer  -->
        <div class="card-footer">
          <div class="row">
            <div class="col-lg-6">
              <small class="text-muted">ajouter le {{ seed.creation_date|date:"SHORT_DATE_FORMAT" }} par {{ seed.owner }}</small>
            </div>
            <div class="col-lg-6 text-right">
              {% if seed.available %}
              <a href="{% url 'exchange_messages:new_message' seed_id=seed.id  owner_id=seed.owner.id%}" class="btn btn-primary btn-sm" id='exchange_btn_{{seed.id}}'>Echanger</a>
              {% else %}
              <a class="btn btn-secondary btn-sm" disabled>Non disponible pour l'instant</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>


      {% endfor %}
    {% else %}
        <a>Nous sommes désolés,il n'y a pas encore de {{searched_seed}} sur Troc Graines</a>
    {% endif %}

<!-- pagination  -->
    {% if page_obj.has_next %}
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        <!-- previous  -->
        {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Précédent</a></li>
        {% else %}
          <li class="page-item disabled"><a class="page-link">Précédent</a></li>
        {% endif %}
        <!-- count  -->
        <li class="page-item"><a class="page-link" >{{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}</a></li>
        <!-- next  -->
        {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Suivant</a></li>
        {% else %}
          <li class="page-item disabled"><a class="page-link" >Suivant</a></li>
        {% endif %}
        </ul>
    </nav>
    {% endif %}









  </div>
</div>
{% endblock %}
