
$primary:   #77b81e;
$secondary: #aa66cc;
$success:   #00C851;
$danger:    #ff4444;
$warning:   #ffbb33;
$info:      #0099CC;

// scss-docs-start font-variables
// stylelint-disable value-keyword-case
$font-family-sans-serif:      system-ui, -apple-system, "Quicksand", "Snippet", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
// $font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

// Settings for the `<body>` element.

$body-bg:                   #87dc70;
$body-color:                #1f2b3b;
// $body-text-align:           null !default;

@import './bootstrap/scss/bootstrap';

//personal part

.asteriskField {
    display: none;
}

html {height:100%}
body {
    min-height:85%;
    min-width:100%;
}
main, footer {
  position: relative;
  top: 100px;
}
.border-3 {
    border-width:3px !important;
}
