{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Troc Graines - Mes graine{% endblock %}
{% block main %}

<div class="container-fluid text-center" id="my_seeds_container">

  <h2>Mes graines</h2>

  {% if matching_list %}
    {% for seed in matching_list %}

    <!-- seed cards  -->

    <div class="card mb-3" id="seed_{{seed.id}}_card">
      <!-- seed card/upper part  -->
      <div class="row no-gutters">
        <!-- seed card/upper part/card photo  -->
        <div class="col-md-2">
          <img src="{{ seed.photo.url }}" class="card-img" alt="{{seed.name}}">
        </div>
        <!-- seed card/upper part/card body -->
        <div class="col-md-10">
          <div class="card-body">
            <h4 class="card-title text-white bg-primary px-2 rounded text-left">{{ seed.name }}</h4>
            <p class="card-text text-left">{{ seed.description }}</p>
          </div>
        </div>
      </div>
      <!-- seed card/footer  -->
      <div class="card-footer">
        <div class="row">
          <div class="col-lg-4">
            <small class="text-muted">ajouter le {{ seed.creation_date|date:"SHORT_DATE_FORMAT" }}</small>
          </div>
          <div class="col-lg-8 text-right">
            <!-- seed card/footer/ availability button and deleting button -->

            <form action="{% url 'seeds:my_seeds' %}" method="post">
              {% csrf_token %}
              {% if seed.available %}
              <a class='text-primary'>Cette graine est échangeable</a>
              <button type="submit" value="{{seed.id}}" name="seed_availability" class="btn btn-warning border-danger btn-sm ml-2" id="change_seed_{{seed.id}}_availability_btn">Rendre indisponible</button>
              {% else %}
              <a class='text-danger'>Cette graine n'est pas échangeable</a>
              <button type="submit" value="{{seed.id}}" name="seed_availability" class="btn btn-warning border-success btn-sm ml-2" id="change_seed_{{seed.id}}_availability_btn">Rendre disponible</button>
              {% endif %}

              <!-- Delete button with modal trigger (button wil use a confirmation message)-->
              <button type="button" class="btn btn-danger btn-sm " data-toggle="modal" data-target="#deleteModal{{seed.id}}" id="seed_{{seed.id}}_delete_btn">
                Supprimer
              </button>

              <!-- Modal part (alert message)-->
              <div class="modal fade" id="deleteModal{{seed.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteModal{{seed.id}}Title" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="deleteModal{{seed.id}}LongTitle">Voulez-vous vraiment supprimer cette graine ?</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body text-center">
                      Attention : Cette action est irréversible !
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" data-dismiss="modal">Conserver la graine</button>
                      <button type="submit" value="{{seed.id}}" name="delete_seed" class="btn btn-danger" id="seed_{{seed.id}}_delete_btn_confirm">Suprimer la Graine</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>























          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  {% else %}
      <a>Vous n'avez pas encore de graines à partager<br> Ajoutez votre première graine ici : </a>
      <a href="{% url 'seeds:add_seed' %}" >Ajouter une graine à partager</a>
  {% endif %}
</div>
{% endblock %}
