<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>
      {% block title %}Troc Graines{% endblock %}
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>

    <!-- navigation bar -->
    <nav id="navbar">
      <hr>
      <a>Barre de navigation</a>
      <ul>
        <li><a href="#">Logo</a></li>
        <li><a href="#">Troc Graines</a></li>
        <li><a href="#">Ajouter une graine à partager</a></li>
        <li><a id='my_account_btn'>Mon compte {% if user.is_authenticated %} <br>( {{user.username}} ){% endif %}</a></li>
      </ul>
      <hr>
    </nav>

    <!-- my account navigation bar -->
    <nav id="my_account_navbar">
      <a>Barre de navigation mon compte</a>
      <ul>
        {% if user.is_authenticated %}
          <li><a href="#">Mes Graines</a></li>
          <li><a href="#">Mes messages</a></li>
          <li><a href="{% url 'authentication:personal_informations' %}" id="my_personal_infos_btn">Mes infos personnelles</a></li>
          <li><a href="{% url 'authentication:logout' %}" id="logout_btn">Se déconnecter</a></li>
          {% if user.is_superuser %}
          <li><a href="/admin">Console d'administration</a></li>
          {% endif %}
        {% else %}
          <li><a href="{% url 'authentication:login' %}"          id='login_btn'>Connexion</a></li>
          <li><a href="{% url 'authentication:signup' %}"         id='signup_btn'>Créer un compte</a></li>
          <li><a href="{% url 'authentication:password_reset' %}" id='reset_psw_btn'>Mot de passe oublié</a></li>
        {% endif %}
      </ul>
    </nav>

    <!-- display of any messages -->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="messages_{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <!-- main -->
    <main>
      {% block main %}
      {% endblock %}
    </main>

     <!-- footer -->
     <footer>
       <hr>
       <a>footer</a>
       <ul>
         <li><a href="#">Mention légales</a></li>
         <li><a href="#">Contact</a></li>
       </ul>
       <hr>
     </footer>
  </body>
</html>
